.header h1 {
    font-size: 40pt;
    text-transform: uppercase;
    text-align: center;
    background: url("logo.png") left / auto 100% no-repeat;
}

.nav {
    font-size: 16pt;
    width: 150%;
    float: left;
}

.nav a {
    display: block;
    margin: 10px 0px;
}

.main {
    margin-left: 170px;
}