{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Главная{% endblock %} :: Доска объявлений</title>
    <link rel="stylesheet" type="text/css" href="{% static 'static/bboard/style.css' %}">
</head>
<body>
    <header>
        <h1>Объявления</h1>
    </header>
    <nav>
        <a href="{% url 'index' %}">Главная</a>
        <a href="{% url 'add' %}">Добавить</a>
        {% for rubric in rubrics %}
        <a href="{% url 'rubric_bbs' rubric.pk %}">{{ rubric.name }}</a>
        {% endfor %}
    </nav>
    <main>
        {% block content %}
        {% endblock  %}
    </main>
</body>
</html>